* {
  margin: 0;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
}

.intro {
  background-color: #111;
}
/* 
.salute {
    height: 100vh;
    display: flex;
    align-items: center;
}

.saluteTextContainer {
    flex: 3;
}

.saluteText {
    color: #333;
    font-size: 60vw;
    cursor: default;
}

.saluteImgContainer {
    flex: 1;
}

*/
/* .saluteImg {
    height: 100vh;
}  */

.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.saluteTextContainer {
  flex: 3;
}

.saluteImgContainer {
  flex: 1;
}

.saluteText {
  color: #333;
  font-size: 60vw;
  cursor: default;
  transform: translateY(var(--offset));
  transition: 1s all;
}

.saluteImg {
  width: 100%;
  /* height: 100vh; */
}

.nameContainer {
  height: 100vh;
  background-color: rebeccapurple;
}

.name {
  font-size: 15vw;
  color: #333;
  cursor: default;
  /* text-align: center; */
  line-height: 100vh;
}

.jobTitleContainer {
  height: 100vh;
}

/* .dark {
  background: url("../../assets/bg1.png");
} */

.light {
  background-color: rebeccapurple;
}

.jobTitle {
  font-size: 10vw;
  color: #333;
  line-height: 100vh;
  cursor: default;
}

.secondTitle {
  font-size: 7vw;
}
