
a {
    text-decoration: none;
}

.github {
    background-color: #111;
}

.githubContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.githubTitle {
    font-size: 100px;
    color: #333;
}

.githubChart {
    width: 820px;
    text-align: center;
}

.dates {
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px ;
}

.box {
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 2s all;
}

.active:nth-child(4n) {
    background-color: #063f24;
}

.boxContainer:hover .active:nth-child(2n+1) {
    background-color: #063f24;
}

.boxContainer:hover .active:nth-child(2n) {
    background-color: #195b2c;
}

.githubSm {
    display: none;
}

@media screen and (max-width: 1024px) {
    .githubChart {
        display: none;
    }

    .githubContainer {
        height: 100vh;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .githubTitle {
        text-align: center;
        font-size: 10vw;
    }

    .githubSm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        padding-bottom: 50px;
        margin-top: 0;
    }
    
    a {
        font-size: 30px;
        text-decoration: none;
        color: #555;
    }
}